/* page_2\style.css */

.triangle {
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  width: 1000px;
  height: 500px;
  background-color: #fff;  
  display: flex;
  flex-direction: column;
}

.triangle .child {
  background-color: rgb(14, 179, 55); 
  text-align: center;
  flex: 1;
  margin-top: 1px;
}

