/* page_2\style.css */

.box-container {
    width: 200px;
    height: 200px;
    background-color:blueviolet;
    display: flex;
    flex-direction: column;
}

.box-item {
    flex: 1;
    border: 1px solid black;
    color: #fff;
    text-align: center;
}

